body{
    background: linear-gradient( to right , rgb(125, 189, 241), rgb(243, 243, 145));
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25rem;


}
.container{
    background-color: royalblue;
    height: auto;
    box-shadow: 6px 4px 5px ;
    align-items: center;
    border-radius: 15px;
    width: 27rem;
    color: white;
}
h1{
    text-align: center;
    padding: 10px;
    font-weight: bold;
    border-bottom: 1px solid whitesmoke;
}
.addTask{
    display: flex;
    justify-content: space-evenly;

}
input{
    padding: 7px;
    border-radius: 6px;
}
button:hover{
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;
    
}
button{
    background-color: rgb(231, 221, 77);
    border-radius: 5px;
    padding: 4px;
     
}
ul{
    list-style: none;
    padding: 15px;

    

}
li{
    display: flex;
    gap: 8px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    padding: 5px;
    margin-bottom:7px ;
    
}
li span {
    vertical-align: middle;
}
